.logo {
  --logo-size: calc(var(--index) * 7.8);
  width: var(--logo-size);
  height: var(--logo-size);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  left: calc(50% - calc(var(--logo-size) / 2));
  top: calc(var(--index) * 2);
}