@font-face {
  font-family: 'Kamerik';
  src: url('../assets/fonts/kamerik205-heavy.woff2');
}
@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/merriweather-regular-italic.woff2');
}

body {
  font-family: 'Kamerik', sans-serif;
}