.layers {
  perspective: 2000px;
  overflow: hidden;
  .container {
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    transition: transform var(--transition);
    will-change: transform;
    .item {
      position: absolute;
      inset: -7vw;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      .hero {
        text-align: center;
        margin-top: calc(var(--index) * 5.5);
        .title {
          font-size: calc(var(--index) * 2.9);
          text-transform: uppercase;
          line-height: .9em;
          letter-spacing: calc(var(--index) * -.15);
          span {
            display: block;
          }
        }
        .text {
          font-family: 'Merriweather-italic-3d', sans-serif;
          font-size: calc(var(--index) * .73);
          line-height: 5;
        }
        .btn {
          font-weight: 600;
          text-transform: uppercase;
          font-size: calc(var(--index) * .7);
          letter-spacing: -.02vw;
          padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
          background-color: transparent;
          color: #fff;
          border-radius: 10em;
          border: rgb(255 255 255 / .4) 3px solid;
          outline: none;
          cursor: pointer;
          transition: border, background-color var(--transition);
          &:hover {
            border-color: rgb(255 255 255);
            background-color: rgb(255 255 255 / .2);
          }
        }
      }
    }
    .layer {
      &-1 {
        transform: translateZ(-155px) scale(1.06);
      }
      &-2 {
        transform: translateZ(80px) scale(.92);
      }
      &-3 {
        transform: translateZ(180px) scale(.8);
      }
      &-4 {
        transform: translateZ(190px) scale(.9);
      }
      &-5 {
        transform: translateZ(300px) scale(.9);
      }
      &-6 {
        transform: translateZ(380px);
      }
      &-4, &-5, &-6 {
        pointer-events: none;
      }
    }
  }
}